{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <div class="alert alert-info d-flex justify-content-between" role="alert">
                        <a href="/#">
                            <button type="button" class="btn btn-outline-dark">Home</button>
                        </a>
                        <h5>{{ room.name_room }}</h5>
                        <a href="/accounts/logout/">
                            <button type="button" class="btn btn-outline-dark">Log Out</button>
                        </a>
                    </div>
                    <form>
                        <div class="form-group">
                            {% if messages %}
                                <div class="jumbotron" id="chat_box" style="padding: 2px 2px;max-height: 300px;overflow-y: scroll;">
                                {% for message in messages %}
                                    <div class="chat-message {% if message.author == request.user.username %}text-right{% else %}text-left{% endif %}">
                                        {% if message.author == request.user.username %}
                                            {{ message.content }} : <b>{{ message.author }}</b><br>
                                        {% else %}
                                            <b>{{ message.author }}</b> : {{ message.content }}<br>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                </div>
                            {% else %}
                                <div class="jumbotron" id="chat_box" style="padding: 2px 2px;max-height: 300px;overflow-y: scroll;"></div>
                                <b>No Messages in this Room.</b>
                            {% endif %}
                </div>
                <div class="form-group" style="width: 100%;">
                    <label for="my_input"></label><input class="form-control" placeholder="Enter text here" id="my_input" type="text" required>
                </div>
                <input class="btn btn-primary btn-lg btn-block" id="submit_button" type="button" value="Send">
                </form>
            </div>
        </div>
        </div>
        {{ slug|json_script:"room_slug" }}
        <script>
            const chat_box = document.querySelector("#chat_box");

            // Function to scroll to the bottom of the chat box
            function scrollToBottom() {
                chat_box.scrollTop = chat_box.scrollHeight;
            }

            // Scroll to bottom when the page is loaded
            scrollToBottom()

            const room_element = document.getElementById("room_slug");
            const room_name = JSON.parse(room_element.textContent);

            const chat_socket = new WebSocket("ws://" + window.location.host + "/ws/" + room_name + "/");

            chat_socket.onopen = function (e) {
                console.log("The connection was setup successfully !");
            };

            chat_socket.onclose = function (e) {
                console.log("Something unexpected happened !");
            };

            document.querySelector("#my_input").focus();
            
            submit_button = document.querySelector("#submit_button")

            submit_button.onclick = function (e) {
                let message_input = document.querySelector(
                    "#my_input"
                ).value;
                
                if (message_input.length === 0) {
                    alert("Add some Input First Or Press Send Button!")
                } else {
                    chat_socket.send(JSON.stringify({
                        message: message_input,
                        author: "{{request.user.username}}",
                        room_id: "{{room.id}}"
                    }));
                }
            };
            
            document.querySelector("#my_input").onkeyup = function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    submit_button.click();
                }
            };

            chat_socket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                let div = document.createElement("div");

                // Add class and set text alignment based on user authentication
                if (data.author === "{{ request.user.username }}") {
                    div.classList.add("chat-message", "text-right");
                    div.innerHTML = data.content + ": <b>" + data.author + "</b>";
                } else {
                    div.classList.add("chat-message", "text-left");
                    div.innerHTML = "<b>" + data.author + "</b> : " + data.content;
                }

                // Reset value in input box
                document.querySelector("#my_input").value = "";

                // Add new message
                document.querySelector("#chat_box").appendChild(div);
                const noMessagesElement = $("b:contains('No Messages in this Room.')").get(0);
                if (noMessagesElement) {
                    noMessagesElement.remove();
                }
                scrollToBottom();
            };
        </script>
    {% else %}
        <div class="container">
            <div class="alert alert-info d-flex justify-content-between" role="alert">
                <h5>You are not logged in</h5>
                <a href="/accounts/logout/">
                    <button type="button" class="btn btn-outline-dark"><a href="{% url 'login' %}">Log In</a></button>
                </a>
            </div>
        </div>
    {% endif %}
    <br/>
{% endblock %}